@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Areas/Administrator/Views/Shared/_HomepageLayout.cshtml";
}

<div class="slider">
    <div class="rslides_container">
        <ul class="rslides">
            <li>
                <img src="~/Areas/Administrator/Content/Homepage2/img/slider_3.jpg" @*data-min-width-1400="~/Areas/Administrator/Content/Homepage2/img/slider_1.jpg" alt=""*@>
                <div class="container">
                    <div class="caption">
                        <h1 id="wrapper">viện môi trường</h1>
                        <h1 id="wrapper"><span>và</span></h1>
                        <h1 id="wrapper">tài nguyên</h1>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/Areas/Administrator/Content/Homepage2/img/slider_2.jpg" @*data-min-width-1400="~/Areas/Administrator/Content/Homepage2/img/slider_2.jpg" alt=""*@>
                <div class="container">
                    <div class="caption">
                        <h1 id="wrapper">trung tâm</h1>
                        @*<h1 id="wrapper"><span>và</span></h1>*@
                        <h1 id="wrapper">công nghệ môi trường</h1>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/Areas/Administrator/Content/Homepage2/img/slider_4.png" @*data-min-width-1400="~/Areas/Administrator/Content/Homepage2/img/slider_2.jpg" alt=""*@>
                <div class="container">
                    <div class="caption">
                        <h1 id="wrapper">phòng thí nghiệm</h1>
                        @*<h1 id="wrapper"><span>và</span></h1>*@
                        <h1 id="wrapper">công nghệ môi trường</h1>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- slider end -->

<section id="gioithieuchung">
    <div class="container">
        <div class="our-services">
            <div class="header-intro">
                <h2>giới thiệu chung</h2>
                <p>Phòng thí nghiệm Công Nghệ Môi Trường là phòng thí nghiệm thuộc Viện Môi Trường và Tài Nguyên.</p>
                <p>Thành lập từ năm 2008.</p>
                <h2>Chức năng & Nhiệm vụ</h2>
            </div>
            @*<div class="col-md-3">
                    <i class="service-icon service-one"></i>
                    <h3>Web Design</h3>

                    <p>
                        Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euimod tincidunt ut laoreet dolore magna aliquam <br />
                        erat volutpat.
                    </p>
                </div>*@
            <div class="col-md-4">
                <img src="~/Areas/Administrator/Content/Homepage2/img/service_1.png" style="width:80px; height:80px;" />
                @*<i class="service-icon service1"></i>*@
                <h3>giảng dạy sau đại học</h3>
                <p>
                    Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euimod tincidunt ut laoreet dolore magna aliquam <br />
                    erat volutpat.
                </p>
            </div>
            <div class="col-md-4">
                @*<i class="service-icon service-three"></i>*@
                <img src="~/Areas/Administrator/Content/Homepage2/img/service_2.png" style="width:80px; height:80px;" />
                <h3>nghiên cứu khoa học công nghệ</h3>
                <p>
                    Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euimod tincidunt ut laoreet dolore magna aliquam <br />
                    erat volutpat.
                </p>
            </div>
            <div class="col-md-4">
                @*<i class="service-icon service-four"></i>*@
                <img src="~/Areas/Administrator/Content/Homepage2/img/service_3.png" style="width:80px; height:80px;" />
                <h3>dịch vụ phân tích</h3>
                <p>
                    Lorem ipsum dolor sit amet,  adipiscing elit, sed diam nonummy nibh euimod tincidunt ut laoreet dolore magna aliquam <br />
                    erat volutpat.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- services end -->
<section id="sumang">
    <!--SU MANG-->
    <div class="promo">
        <div class="container">
            <p>sứ mạng</p>
        </div>

    </div>
    <!-- promo end -->
</section>

<section id="nghiencuu">
<!--NGHIEN CUU-->
<div class="promo">
    <div class="container">
        <p>nghiên cứu & giảng dạy</p>
    </div>

</div>
<br />
<!-- promo end -->
<div class="container">
    <div class="">
        <div class="col-md-6 no-padding-left">
            <img src="~/Areas/Administrator/Content/Homepage2/img/giangday/giangday3.png">
        </div>
        <div class="col-md-6">
            <h2>nhiệm vụ giảng dạy tại viện</h2>
            <h4>Định hướng đào tạo </h4>
            <br />
            <p>Nâng cao chất lượng trong giảng dạy cao học và tiến sĩ.</p>
            <p>Kết hợp chặt chẽ NCKH với đào tạo.</p>
            <p>Đào tạo chuyên ngành về công nghệ và quản lý môi trường cho các Sở, ban ngành, các khu công nghiệp, khu chế xuất, doanh nghiệp...</p>
            <p>Đào tạo các chương trình ngắn hạn, nâng cao ý thức cộng đồng, bổ sung kiến thức chuyên ngành cho các đơn vị, doanh nghiệp có yêu cầu.</p>
            <h4>Hoạt động giảng dạy</h4>
            <br />
            <p>Hướng dẫn sinh viên thực tập từ các trường cao đẳng, đại học.</p>
            <p>Hỗ trợ học viên cao học nghiên cứu và làm đề tài.</p>
            <p>Hỗ trợ nghiên cứu sinh nghiên cứu và làm đề tài.</p>
            <p>Hợp tác trao đổi sinh viên, nghiên cứu sinh quốc tế.</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="what-we-do">
        <div class="col-md-6 no-padding-left">
            <h2>nhiện vụ nghiên cứu tại viện</h2>
            <div class="Collapse" data-example-id="collapse-accordion">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                    <span class="down-icon"></span>
                                    Định hướng nghiên cứu khoa học (NCKH) và phát triển công nghệ của phòng thí nghiệm
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">                               
                                    Phát triển các nhóm nghiên cứu chuyên sâu, từ đó đẩy mạnh việc xây dựng các dự án KHCN.
                                <br />
                                    Xây dựng và phát triển đội ngũ cán bộ trẻ, lồng ghép, kết hợp giảng dạy, đào tạo và NCKH                                                       
                           </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                    <span class="down-icon"></span>
                                    Hoạt động nghiên cứu khoa học điển hình
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Nghiên cứu ứng dụng công nghệ phù hợp, chi phí thấp trong xử lý các loại chất thải đặc thù của khu vực kinh tế trọng điểm phía Nam: khí, lỏng, rắn.
                                <br />    
                                Nghiên cứu sản xuất nhiên liệu sinh học từ phế thải nông nghiệp, công nghiệp và sinh hoạt.
                                <br />
                                Nghiên cứu công nghệ tiên tiến xử lý nước cấp phù hợp với diễn biến ô nhiễm môi trường.
                                <br />
                                Nghiên cứu tái sử dụng năng lượng và ứng dụng kỹ thuật sinh thái trong xử lý nước.                               
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false">
                                    <span class="down-icon"></span>
                                    Nghiên cứu công nghệ xử lý bậc cao (membrane, Loc nano, oxy hoá nâng cao, hybrid
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false">
                                    <span class="down-icon"></span>
                                    Nghiên cứu phát triển các phương pháp vi lượng phuc vụ nghiên cứu và quan trắc diễn biến các chất  độc  hại
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false">
                                    <span class="down-icon"></span>
                                    Nghiên cứu quá trình vận chuyển và biến đổi các chất nguy hại đặc biệt trong chuổi thực phẫm
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 no-padding-right">
            <img src="~/Areas/Administrator/Content/Homepage2/img/whatwedo.png">
        </div>
        <div class="clearfix"></div>
    </div>
</div>

</section>
<!-- works end -->
<section id="dichvu">
    <div class="promo">
        <div class="container">
            <p>dịch vụ</p>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="our-services">
            <div class="header-intro">
                <h2>dịch vụ</h2>
                <p>đội ngũ nhân viên giàu kinh nghiệm và vật tư trang thiết bị hiện đại</p>
                <p>Thành lập từ năm 2008.</p>
                <h2>chức năng</h2>
            </div>
            <div class="col-md-3">
                <img src="~/Areas/Administrator/Content/Homepage2/img/dichvu/dichvu1.png" style="width:80px; height:80px;" />
                <h3>quan trắc hiện trường</h3>
                <p>Đo đạc các thông số hiện trường</p>
                <br />
                <p>Lấy mẫu phân tích</p>
            </div>
            <div class="col-md-3">
                <img src="~/Areas/Administrator/Content/Homepage2/img/dichvu/dichvu2.png" style="width:80px; height:80px;" />
                @*<i class="service-icon service1"></i>*@
                <h3>phân tích phòng thí nghiệm</h3>
                <p>Hóa lý, Vi lượng, Vi sinh, Thủy sinh</p>
            </div>
            <div class="col-md-3">
                @*<i class="service-icon service-three"></i>*@
                <img src="~/Areas/Administrator/Content/Homepage2/img/dichvu/dichvu3.png" style="width:80px; height:80px;" />
                <h3>tư vấn và hỗ trợ</h3>
                <p>Tư vấn khách hàng</p>
                <br />
                <p>Hỗ trợ thiết kế xây dựng phòng thí nghiệm</p>
            </div>
            <div class="col-md-3">
                @*<i class="service-icon service-four"></i>*@
                <img src="~/Areas/Administrator/Content/Homepage2/img/dichvu/dichvu4.png" style="width:80px; height:80px;" />
                <h3>hợp tác và chia sẻ</h3>
                <p>Hợp tác trong lĩnh vực khoa học kỹ thuật và chuyển giao công nghệ</p>
                <br />
                <p>Chia sẻ và trao đổi hóa chất, chất chuẩn trong phân tích</p>
            </div>
        </div>
    </div>
</section>

<section id="thietbi">
    <div class="container">
        <div class="our-works">
            <div class="header-intro">
                <h2>trang thiết bị</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi1.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi2.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi5.png">

                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi6.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi7.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi8.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi9.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi10.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portfolio-img-wrap">
                    <img src="~/Areas/Administrator/Content/Homepage2/img/trangthietbi/thietbi11.png">
                    <div class="caption-container">
                        <div class="portfolio-caption">
                            <h5>Project Name</h5>
                            <p>- &nbsp; Category</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</section>


<div class="promo">
    <div class="container">
        <p>khách hàng thân thiết @*<span>consectetuer adipiscing elit</span>*@</p>
        @*<a href="" class="line-btn">Get Started</a>*@
    </div>
</div>
<!-- promo end -->
<div class="clearfix"></div>

<section id="hinhanh">
    <!--HINH ANH-->
    <div class="container recent-works">
        <div class="header-intro">
            <h2>Hình ảnh về viện</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
            <div class="works-container">

                <div class="controls">

                    <button class="filter active" data-filter="all">Tất cả</button>
                    <button class="filter" data-filter=".category-1">Nghiên cứu</button>
                    <button class="filter" data-filter=".category-2">Giảng dạy</button>
                    @*<button class="filter" data-filter=".category-3">Audio</button>
                        <button class="filter" data-filter=".category-4">App</button>*@

                </div>
                <div id="Container">
                    <div class="mix category-1 col-sm-3" data-myorder="1" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/nghiencuu/nghiencuu1.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-1 col-sm-3" data-myorder="2" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/nghiencuu/nghiencuu2.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-1 col-sm-3" data-myorder="3" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/nghiencuu/nghiencuu3.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-1 col-sm-3" data-myorder="4" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/nghiencuu/nghiencuu4.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-1 col-sm-3" data-myorder="5" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/nghiencuu/nghiencuu5.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-1 col-sm-3" data-myorder="6" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/nghiencuu/nghiencuu6.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-2 col-sm-3" data-myorder="7" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/giangday/giangday1.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category-2 col-sm-3" data-myorder="8" style="display: inline-block;">
                        <div class="portfolio-img-wrap">
                            <img src="~/Areas/Administrator/Content/Homepage2/img/giangday/giangday2.png">
                            <div class="caption-container">
                                <div class="portfolio-caption">
                                    <h5>Project Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>