@model IEnumerable<IERSystem.Areas.Administrator.Models.MauLayHienTruong>

    <table class="model-tab">
        <tr>
            <th>TT</th>
            <th>Kí hiệu mẫu</th>
            <th>Vị tri lấy mẫu</th>
            <th>Số lượng</th>
            <th>Mô tả mẫu</th>
            <th>Chỉ tiêu yêu cầu</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center"></td>
            <td>@item.MaMauKH</td>
            <td>@item.ViTriLayMau</td>
            <td>@item.SoLuong</td>
            <td>@item.MoTaMau</td>
            <!--
            <td>item.MaChiTieuPhanTich</td>
                -->
        </tr>
            
        }

 
    </table>

